@import url("reusable.css");

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* navBar */
.header {
  /* background-color: red; */
  padding: 1rem 2rem;
  height: 6.25rem;
  width: 100%;
  background-color: #1b1a1a;
}

.navBar {
  width: 100%;
  padding: 1rem;

  margin: 0 auto;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  position: relative;
  display: block;
  width: 0.5rem;
  height: 2rem;
  background-color: black;
}

.logo:after {
  content: "";
  position: absolute;
  right: -1.1rem;
  width: 0.5rem;
  height: 2rem;
  background-color: black;
}
.logo:before {
  content: "";
  position: absolute;
  right: -0.54rem;
  width: 0.5rem;
  height: 2rem;
  background-color: black;
  rotate: -30deg;
}

.logo-rotate {
  rotate: 20deg;
}

/* NavLinks */
.nav-link-container {
  height: 100%;
}

.nav-link > li {
  width: 100%;
  margin: 0 0.3125rem;
  padding: 0.625rem;
}

.nav-link > li > a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
