/* flex propertys */

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.space-between {
  width: 100%;
  justify-content: space-between;
}

/* navLinks */
.style-none {
  list-style: none;
}

/* Button */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: red;
  cursor: pointer;
}
