@import url("./index.css");

/* flex propertys */
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.space-between {
  width: 100%;
  justify-content: space-between;
}

/* navLinks */
.style-none {
  list-style: none;
}

/* Button */
.btn {
  color: var(--font-white);
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 1rem 1.2rem;
  font-weight: 500;
  cursor: pointer;
  display: block;
  font-weight: 600;
  text-transform: capitalize;
}

/* GRID */
.grid {
  display: grid;
}
.grid-2cols {
  grid-template-columns: repeat(2, minmax(140px, 200px));
}
